<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.pointMapper">

	<!-- 적립 포인트 확인 -->
	<select id="checkMyPoint" resultType="HashMap">
		select m.user_name, m_p.point, m_p.point_regDate
		from member_user m, member_point m_p 
		where m.user_num = #{user_num} and m.user_num = m_p.user_num
		order by m_p.point_regDate desc
	</select>
	
	<!-- 포인트 적립 -->
	<insert id="insertPoint">
		insert into member_point(user_num, point)
		values (#{user_num}, #{point})
	</insert>
	
	<!-- 회원 보유 포인트 업데이트 -->
	<update id="updatePoint">
		update member_user m set m.user_point = (
		select sum(m_p.point)
		from member_point m_p
		where m_p.user_num = #{user_num}
		)
	where m.user_num = #{user_num}
	</update>
	
</mapper>