<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.testMapper">

	<!-- 여행사 작성 tab 목록 -->
	<select id="Testlist" resultType="com.spring.dto.TestDTO">
		select *
		from sell_info
		where suggest_bno = 3
	</select>
	
	<!-- 여행사 tab 작성 -->
	<!-- 데이터를 넣을 땐 parameterType 사용 -->
	<insert id="Testwrite" parameterType="com.spring.dto.TestDTO">
		insert into sell_info(suggest_bno, tab_title_1, tab_content_1, tab_title_2, tab_content_2, 
							tab_title_3, tab_content_3, tab_title_4, tab_content_4, 
							tab_title_5, tab_content_5, tab_title_6, tab_content_6)
					values(3, #{tab_title_1}, #{tab_content_1}, #{tab_title_2}, #{tab_content_2}, 
							#{tab_title_3}, #{tab_content_3}, #{tab_title_4}, #{tab_content_4},
							#{tab_title_5}, #{tab_content_5}, #{tab_title_6}, #{tab_content_6})
	</insert>
</mapper>